@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}
* {
  transition: all 0.3s;
}
html {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  min-height: 100vh;
}
html {
  @apply desk:h-full
}

body {
  @apply leading-normal tracking-normal text-indigo-400 sm:flex-col p-6 flex h-full
}

@media only screen and (max-width: 768px) {
  html {
    @apply  h-full
  }
  
}

@media only screen and (max-width: 950px) {
  body {
    @apply p-4
  }
  nav .navbar {
    @apply mx-0
  }
}

@media only screen and (max-width: 600px) {
  html {
    @apply h-full
  }
}

.bg-opacity-003 {
  background-color: rgba(255, 255, 255, 0.03);
}

.gap-4 { /* tailwind gap is not working */
  gap: 1rem;
}

.-left-1\/10 {
  left: -10%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
